# Variables de entorno y secretos
.env
.env.*
.env.local
!.env.example

# Dependencias y compilación
node_modules/
dist/
logs/
*.log
npm-debug.log*

# SO y Editores
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
